body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

.typing-container {
    display: inline-block;
}

.typing {
    color: white;
    font-size: 5rem;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid white;
    margin-bottom: 40px;
    margin-top: 0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
    width: 24ch;
    animation: typing 3s steps(24, end), blink 0.7s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.galeria {
    display: flex;
    width: 600px;
    height: 430px;
    border-radius: 24px 8px 16px;
    overflow: hidden;
}

.galeria img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    transition: all 0.5s ease;
}

.galeria img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;


    filter: contrast(120%);
}